<h1>MarketingPages#index</h1>

 <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: name %>
 <% end %>

<p>In the Ruby and Rails world the # symbol can mean a method within a class</p>
<p>Find me in app/views/marketing_pages/index.html.erb</p>